@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #050505;
}

.text-gradient {
	color: #f15e3d;
	background: -webkit-linear-gradient(
		91.65deg,
		#f15e3d -0.95%,
		#f59121 107.39%
	);
	-webkit-text-size-adjust: 100%;
	-webkit-box-decoration-break: clone;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ! navbar  */

nav {
	width: 85%;
	max-width: 1110px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
}

.container-nav {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.02),
			rgba(255, 255, 255, 0.02)
		),
		#141414;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	height: 100%;
	margin: 0;
}

.nav-links > li {
	list-style: none;
	height: 8vh;
	padding: 5px 20px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.nav-links > a {
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #5f5f5f;
}

.nav-links > a:hover {
	text-decoration: none;
}

.nav-links-2 {
	display: flex;
	justify-content: space-around;
	height: 100%;
	margin: 0;
}

.nav-links-2 > li {
	list-style: none;
	height: 8vh;
	padding: 5px 20px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.nav-links-2 > a {
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #5f5f5f;
}

.nav-links-2 > a:hover {
	text-decoration: none;
}

/* ! burger */

.burger {
	display: none;
}

.line1 {
	width: 20px;
	height: 3px;
	background-color: #fff;
	margin: 2.5px;
	transition: all 0.3s ease;
}

.line2 {
	width: 14px;
	height: 3px;
	background-color: #fff;
	float: right;
	margin: 2.5px;
	transition: all 0.3s ease;
}

.mob-only {
	display: none;
}

@media screen and (max-width: 1000px) {
	.desk-only {
		display: none;
	}
	.mob-only {
		display: block;
	}
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		width: 100%;
		top: 8vh;
		background: #000;
		/* display: flex; */
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		z-index: 1000;
		display: none;
	}
	.nav-links > li {
		opacity: 0;
		color: #ffffff;
	}
	.nav-links > a {
		color: #ffffff;
	}
	.burger {
		display: block;
	}
	nav {
		width: 95%;
	}
}

.nav-active {
	transform: translateX(0%);
	display: flex;
}

.contact-us {
	background: linear-gradient(91.65deg, #f15e3d -0.95%, #f59121 107.39%);
	padding: 12px 18px;
	box-sizing: border-box;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #fff !important;
	text-decoration: none;
}

.contact-us:hover {
	text-decoration: none;
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-2.5px, 3px);
}
.toggle .line2 {
	width: 20px;
	transform: rotate(45deg) translate(-2.5px, -3px);
}

.logo a {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 32px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}

.container {
	width: 95%;
	max-width: 1110px;
	margin: auto;
}

.hero-sec {
	margin: 80px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-img {
	width: 57%;
	max-width: 630px;
	margin-right: 30px;
}

.right-hero {
	max-width: 445px;
}

.intro {
	font-weight: 800;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height, or 129% */

	letter-spacing: 0.02em;
}

.hero-main-text {
	font-weight: bold;
	font-size: 40px;
	line-height: 56px;
	/* or 140% */

	letter-spacing: 0.2px;
	margin: 12px 0;
}

.hero-desc {
	font-size: 16px;
	line-height: 22px;
	/* or 137% */

	letter-spacing: 0.02em;
	margin: 40px 0;
}

.hero-contact {
	display: block;
	width: max-content;
}

@media screen and (max-width: 960px) {
	.hero-sec {
		display: block;
	}
	.hero-img {
		width: 100%;
		max-width: none;
		margin: 0;
	}
	.right-hero {
		max-width: none;
		margin-top: 30px;
	}
}

.section-headings {
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.1px;
	margin: 24px 0px;
}

/* ! carousel */
.owl-carousel {
	position: relative;
	margin-top: 30px;
}
.owl-nav {
	display: none;
}
.uk-card-primary {
	border-radius: 8px;
}
.uk-card > :last-child {
	margin-top: 0;
	margin-bottom: 10px;
}
.owl-theme .owl-nav [class*='owl-'] {
	background: transparent !important;
	color: #1a1a1a !important;
	margin: 0 !important;
	padding: 0 !important;
	padding-bottom: 20px !important;
	box-sizing: border-box;
}
.owl-dots {
	margin-top: 30px;
}
.uk-card-title {
	padding-bottom: 20px;
}

.owl-dot > span {
	width: 10px !important;
	height: 10px !important;
	background: #1a1a1a !important;
}

.owl-carousel > .active > span {
	width: 10px;
	height: 10px;
	background: linear-gradient(
		91.65deg,
		#f15e3d -0.95%,
		#f59121 107.39%
	) !important;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.case-study-card {
	width: 350px;
	height: 467px;
	background: #0f0f0f;
	border-radius: 4px;
}

.case-study-card-image {
	height: 240px;
	width: 100%;
}

.card-data-cont {
	padding: 32px;
	padding-top: 24px;
	height: 227px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-title {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin-bottom: 16px;
}

.card-desc {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #999999;
}

.card-c2a {
	display: flex;
  align-items: center;
	font-family: 'Mulish';
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
}
